<div class="hero-image">
 <div class="text-banner">
   <h5>Image gramm</h5>
   <br>
   <p>Guarda tus recuerdos porque recordar es volver a vivir!</p>
   <br>
   <a><%= link_to "Pruebalo", new_user_registration_path, class: "btn red darken-1" %></a>
 </div>
</div> 