<div class="hero-image">
 <div class="text-banner">
   <h5 class="text-image-gram">Image gramm</h5>
   <br>
   <p class="text-second-image">Guarda tus recuerdos porque recordar es volver a vivir!</p>
   <br>
   <a><%= link_to "Pruebalo", new_user_registration_path, class: "btn red darken-1" %></a>
 </div>
</div> 

<div class="banner">
  <div class="image-banner">
    <h4 class="text-banner-two">Guarda, edita, actualiza y comenta tus recuerdos y los de tus amigos</h4>
    <br>
    <p class="text-info">Image Gramm es una red social para qué puedas Guardar imagenes qué te recuerden momentos
    qué te sacan una sonrisa cada que recuerdas esos momentos especiales con tus mejores amigos, familiares, novia o quiza solo un momento qué quieres volver a recordar.</p>
    <br><br>
    <a><%= link_to "Registrate", new_user_registration_path, class: "btn red darken-1" %></a>
  </div>
</div>

<footer class="page-footer  indigo darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Image Gramm</h5>
                <p class="grey-text text-lighten-4">Image Gramm es una red social para guardar recuerdos inolvidables.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Buscanos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="row">
            © 2018 Copyright Image Gramm
            </div>
          </div>
        </footer>