<div class="container">
  <h1 class="center">Lista de pics</h1>
  <br><br>
</div>

<div class="container">
    <% @pics.each do |pic| %>
      <p><%= link_to image_tag pic.image.url(:medium), class: "images" %></p>
    <% end %>
</div>
