<div class="container">
  <h1 class="center">Lista de pics</h1>
  <br><br>
</div>

<% @pics.each do |pic| %>
  <div class="container">
    <div class="card-panel z-depth-4">
      <%= link_to (image_tag pic.image.url, class: "image"), pic %>
      <br><br>
      <h4 class="title-image"><%= pic.title %></h4>
      <h5 class="description-image"><%= pic.description %></h5>
    </div>
  </div>
<% end %>

